<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post" action="/signup">
    <input type="text" name="sellComName" placeholder="회사명" />
    <input type="text" name="sellRegNum" placeholder="사업자등록번호" />
    <input type="text" name="sellRepName" placeholder="대표자명" />
    <input type="text" name="sellComAdr" placeholder="회사주소" />
    <input type="text" name="sellComId" placeholder="아이디" />
    <input type="password" name="sellComPw" placeholder="비밀번호" />
    <input type="text" name="sellComNum" placeholder="회사번호" />
    <input type="text" name="sellComEmail" placeholder="이메일" />
    <input type="text" name="sellBmName" placeholder="담당자 이름" />
    <input type="text" name="sellBmNum" placeholder="담당자 전화번호" />
    <input type="text" name="sellBmDep" placeholder="담당자 부서" />
    <button type="submit">회원가입</button>
</form>

</body>
</html>